@model CMR.ViewModels.FacultyAssignmentModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Faculties")">Faculties</a></li>
    <li class="active">List</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        Details
        @Html.ActionLink("Edit", "Edit", new { id = Model.Faculty.Id }, new { @class = "pull-right" })

    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.Faculty.Name)
            </dt>

            <dd>
                @Html.DisplayFor(m => m.Faculty.Name)
            </dd>
        </dl>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Assignment</div>
    <div class="panel-body">
        @if (User.IsInRole("Administrator"))
        {
            <form method="post" action="@Url.Action("Assign", "Faculties", new {id = Model.Faculty.Id})">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-3">
                        <p>Pro-Vice Chancellor</p>
                        @Html.DropDownList("pvc",
                            Model.Staffs.Select(u => new SelectListItem
                            {
                                Text = u.UserName,
                                Value = u.Id
                            }), "Please select", new {@class = "form-control"})
                    </div>
                    <div class="form-group col-md-3">
                        <p>Director of Learning and Quality</p>
                        @Html.DropDownList("dlt",
                            Model.Staffs.Select(u => new SelectListItem
                            {
                                Text = u.UserName,
                                Value = u.Id
                            }),
                            "Please select", new {@class = "form-control"})
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Assign" class="btn btn-success pull-left"/>
                    </div>
                </div>
            </form>
        }
        <table class="table">
            <thead>
                <tr>
                    <td>Pro-Vice Chancellor</td>
                    <td>Director of Learning and Quality</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Faculty.FacultyAssignment.Any())
            {

                foreach (var assignment in Model.Faculty.FacultyAssignment)
                {
                        <tr>
                            @foreach (var manager in assignment.Managers)
                            {
                                if (manager.Role == "pvc")
                                {
                                    <td>@manager.User.UserName</td>
                                }
                                if (manager.Role == "dlt")
                                {
                                    <td>@manager.User.UserName</td>
                                }
                            }
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
