@model IEnumerable<CMR.Models.Faculty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Faculties")">Faculties</a></li>
    <li class="active">List</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        List Faculties
        @Html.ActionLink("Add New", "Create", new { }, new { @class = "pull-right" })
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Manager</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Assign", "Assign", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
