@model IEnumerable<CMR.Models.Faculty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Faculties")">Faculties</a>
    </li>
    <li class="active">List</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading falculty-heading">
        <span>List Faculties</span>
        @Html.ActionLink("Add New", "Create", new {}, new {@class = "btn btn-primary pull-right"})
    </div>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>PVC</th>
            <th>DLT</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new {id=item.Id})">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
              
                </td>
                <td>
                    @foreach (var fa in item.FacultyAssignment)
                    {
                        if (fa.Managers.Any(m => m.Role == "pvc"))
                        {
                            var pvc = fa.Managers.Single(m => m.Role == "pvc");
                            <p>@pvc.User.Fullname</p>
                        }
                        else
                        {
                            <p></p>
                        }
                    }
                </td>
                <td>
                    @foreach (var fa in item.FacultyAssignment)
                    {
                        if (fa.Managers.Any(m => m.Role == "dlt"))
                        {
                            var dlt = fa.Managers.Single(m => m.Role == "dlt");
                            <p>@dlt.User.Fullname</p>
                        }
                        else
                        {
                            <p></p>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-warning pull-right"})
                    @Html.ActionLink("Assign", "Details", new {id = item.Id}, new {@class = "btn btn-info pull-right"}) 
                </td>
            </tr>
        }

    </table>
</div>