@model CMR.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Home">Home</a></li>
    <li><a href="/Reports">Reports</a></li>
    <li class="active">New report</li>
</ol>

<form method="post" action="@Url.Action("Create", "Reports", new { id = Model.CourseAssignment.Id })">
    @Html.AntiForgeryToken()
    <div class="panel panel-default">

        <div class="panel-heading text-center">Course Monitoring Report</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>Academic Session</td>
                    <td>@Model.CourseAssignment.Start.Year - @Model.CourseAssignment.End.Year</td>
                </tr>
                <tr>
                    <td>Course Code + Title</td>
                    <td>@Model.CourseAssignment.Course.Code - @Model.CourseAssignment.Course.Name</td>
                </tr>
                <tr>
                    <td>Course Leader</td>
                    <td>@Model.CourseAssignment.Manager.UserName</td>
                </tr>
                <tr>
                    <td>Student Count</td>
                    <td>
                        <div class="form-group">
                            <input type="number" name="totalStudent" min="0" class="form-control" value="0" />
                        </div>

                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-heading">Statistical Data</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td></td>
                    <td>CW1</td>
                    <td>CW2</td>
                    <td>EXAM</td>
                </tr>
                <tr>
                    <td>Mean</td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="0" max="100" class="form-control" name="meanCW1" value="0" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="0" max="100" class="form-control" name="meanCW2" value="0" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="0" max="100" class="form-control" name="meanEXAM" value="0" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Median</td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="0" max="100" class="form-control" name="medianCW1" value="0" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group"> 
                            <input type="number" min="0" max="100" class="form-control" name="medianCW2" value="0" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="0" max="100" class="form-control" name="medianEXAM" value="0" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-heading">Grade Distribution Data</div>
        <div class="panel-body"></div>
        <div class="panel-heading">General comments</div>
        <div class="panel-body">
            <div class="form-group">
                <textarea class="form-control" name="comment"></textarea>
            </div>
        </div>
        <div class="panel-heading">Action to be taken</div>
        <div class="panel-body">
            <div class="form-group">
                <textarea class="form-control" name="action"></textarea>
            </div>
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
