@model CMR.Models.Report

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Reports")">Reports</a></li>
    <li class="active">Details</li>
    @if (!Model.IsApproved)
    {
        <li class="pull-right">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "pull-right" })</li>
    }
</ol>
<div class="panel panel-default">
    <div class="panel-heading text-center">Course Monitoring Report</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Academic Session</td>
                <td>@Model.Assignment.Start.Year - @Model.Assignment.End.Year</td>
            </tr>
            <tr>
                <td>Course Code + Title</td>
                <td>@Model.Assignment.Course.Code - @Model.Assignment.Course.Name</td>
            </tr>
            <tr>
                <td>Course Leader</td>
                <td>@Model.Assignment.Manager.UserName</td>
            </tr>
            <tr>
                <td>Student Count</td>
                <td>@(Model != null ? Model.TotalStudent : 0)</td>
            </tr>
        </table>
    </div>
    <div class="panel-heading">Statistical Data</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td></td>
                <td>Cw1</td>
                <td>Cw2</td>
                <td>Exam</td>
            </tr>
            @{
                var scw1 = Model != null ? Model.Statisticals.Single(s => s.Type == "cw1") : new CMR.Models.ReportStatistical();
                var scw2 = Model != null ? Model.Statisticals.Single(s => s.Type == "cw2") : new CMR.Models.ReportStatistical();
                var sexam = Model != null ? Model.Statisticals.Single(s => s.Type == "exam") : new CMR.Models.ReportStatistical();
            }
            <tr>
                <td>Mean</td>
                <td>@scw1.Mean</td>
                <td>@scw2.Mean</td>
                <td>@sexam.Mean</td>
            </tr>
            <tr>
                <td>Median</td>
                <td>@scw1.Median</td>
                <td>@scw2.Median</td>
                <td>@sexam.Median</td>
            </tr>
        </table>
    </div>
    <div class="panel-heading">Grade Distribution Data</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td></td>
                <td>0 - 39</td>
                <td>40 - 69</td>
                <td>70 - 100</td>
            </tr>
            @{
                var dcw1 = Model != null ? Model.Distributions.Single(d => d.Type == "cw1") : new CMR.Models.ReportDistribution();
                var dcw2 = Model != null ? Model.Distributions.Single(d => d.Type == "cw2") : new CMR.Models.ReportDistribution();
                var dexam = Model != null ? Model.Distributions.Single(d => d.Type == "exam") : new CMR.Models.ReportDistribution();
            }
            <tr>
                <td>Cw1</td>
                <td>@dcw1.Bad </td>
                <td>@dcw1.Average</td>
                <td>@dcw1.Good</td>
            </tr>
            <tr>
                <td>Cw2</td>
                <td>@dcw2.Bad</td>
                <td>@dcw2.Average</td>
                <td>@dcw2.Good</td>
            </tr>
            <tr>
                <td>Exam</td>
                <td>@dexam.Bad</td>
                <td>@dexam.Average</td>
                <td>@dexam.Good</td>
            </tr>
        </table>
    </div>
    <div class="panel-heading">General comments</div>
    <div class="panel-body">@(Model != null ? Model.Comment : "")</div>
    <div class="panel-heading">Action to be taken</div>
    <div class="panel-body">@(Model != null ? Model.Action : "")</div>
    @if (User.IsInRole("Staff"))
    {
        <div class="panel-heading">Feedback</div>
        <div class="panel-body">
            @foreach (var feedback in Model.Feedbacks)
            {
                <p>@feedback.Content</p>
            }
        </div>
        if (((CMR.Controllers.ReportsController)this.ViewContext.Controller).CheckCourseManager(Model))
        {
            <div class="panel-heading">Action</div>
            <div class="panel-body">
                <form method="post" action="@Url.Action("Feedback", "Reports", new {id = Model.Id})">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <textarea class="form-control" name="feedbackContent"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send Feedback</button>
                    </div>
                </form>
                @if (Model.IsApproved)
                {
                    <a href="@Url.Action("UnApprove", "Reports", new {id = Model.Id})">Unapprove</a>
                }
                else
                {
                    <a href="@Url.Action("Approve", "Reports", new {id = Model.Id})">Approve</a>
                }
            </div>
        }
    }
</div>