@model CMR.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Reports")">Reports</a>
    </li>
    <li class="active">Edit report</li>
</ol>

<form method="post" action="@Url.Action("Edit", "Reports", new {id = Model.Report.Id})">
    @Html.AntiForgeryToken()
    @Html.Partial("_Form", Model)
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>