@using System.Configuration
@model CMR.ViewModels.ExceptionalViewModel
@{
    ViewBag.Title = "Exceptional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Reports")">Reports</a>
    </li>
    <li class="active">List Reports</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <form method="get">
            <div class="row">
                <div class="form-group col-md-3">
                    <b>Exceptional Report</b>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" name="session" id="session">
                        <option value="" selected>Academic Session</option>
                        @{
                            var minYear = Convert.ToInt32(ConfigurationManager.AppSettings["MinYear"]);
                            var maxYear = Convert.ToInt32(ConfigurationManager.AppSettings["MaxYear"]);
                        }
                        @for (var i = minYear; i < maxYear; i++)
                        {
                            var cYear = i;
                            var nYear = cYear + 1;
                            <option value="@cYear-@nYear" @Html.Raw(Model.SYear.HasValue ? cYear == Model.SYear.Value ? "selected" : "" : "")>@cYear - @nYear</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" class="btn btn-success">View</button>
                        <a href="@Url.Action("Exceptional", "Reports")" class="btn btn-info">Clear</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a data-toggle="tab" href="#cwm">
                    <b>Courses without manager(s)</b>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#cwr">
                    <b>Courses without CMR</b>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#nar">
                    <b>Not Approved Reports</b>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="cwm" class="tab-pane fade in active">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.CoursesNoManagers != null)
                    {
                        foreach (var course in Model.CoursesNoManagers)
                        {
                            <tr>
                                <td>@course.Code</td>
                                <td>@course.Name</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <div id="cwr" class="tab-pane fade">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.CoursesNoCmr != null)
                    {
                        foreach (var course in Model.CoursesNoCmr)
                        {
                            <tr>
                                <td>@course.Code</td>
                                <td>@course.Name</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <div id="nar" class="tab-pane fade">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Create Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.NotApprovedReports != null)
                    {
                        foreach (var report in Model.NotApprovedReports)
                        {
                            <tr>
                                <td>@report.Assignment.Course.Code - @report.Assignment.Course.Name</td>
                                <td>@report.CreateAt.ToString("d")</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>