@model CMR.Models.ApplicationUser
@{
    ViewBag.Title = "Assigned Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Courses")">Course</a></li>
    <li class="active">Assigned</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Course</th>
                <th>Academic Session</th>
                <th>Role</th>
                <th></th>
            </tr>
            @*@if (Model.Courses.Any())
            {
                foreach (var ca in Model.Courses)
                {
                    <tr>
                        <td>@Html.ActionLink(ca.Course.Code + " - " + ca.Course.Name, "Details", new { id = ca.Course.Id }) </td>
                        <td>@ca.Start.Year - @ca.End.Year</td>
                        @#1#switch (ca.Role)
                        {
                            case "cm":
                                <td>Course Manager</td>
                                if (ca.Reports.Any())
                                {
                                    <td><a href="@Url.Action("Details", "Reports", new { id = ca.Reports.First().Id })"></a></td>
                                }
                                break;
                            case "cl":
                                <td>Course Leader</td>
                                <td><a href="@Url.Action("Create", "Reports", new {id = ca.Id})">Create Report</a></td>
                                break;
                        }#1#
                    </tr>
                }
            }*@

        </table>
    </div>
</div>
