        @model CMR.ViewModels.AssignViewModel
        @{
        ViewBag.Title = "Assign";
        Layout = "~/Views/Shared/_Layout.cshtml";
        }

<ol class="breadcrumb">
    <li><a href="/Home">Home</a></li>
    <li><a href="/Courses">Course</a></li>
    <li class="active">Assign</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">Assign @Model.Course.Code - @Model.Course.Name</div>
    <div class="panel-body">


        @{
        string message = TempData["message"] as string;
        if (message != null)
        {
        <div class="alert alert-success" role="alert">@message</div>
        }
        }

        <h4>Assign Course</h4>
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group col-md-4">
                @Html.DropDownList("staff",
                Model.Staffs.Select(u => new SelectListItem
                {
                Text = u.UserName,
                Value = u.Id
                }),
                "Please select", new { @class="form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownList("role", new SelectList(
                new List<Object>
                    {
                    new { value = "cl", text = "Course Leader"},
                    new {value = "cm", text = "Course Manager"}
                    }, "value", "text"), "Please select role", new { @class="form-control" })
            </div>
            <div class="form-group col-md-4">
                <input type="submit" value="Assign" class="btn btn-success pull-right" />
            </div>
        </div>
            }
       
        <h4>Course Leaders</h4>

        <table class="table table-striped">
            <tr>
                <th>Staff name</th>
                <th>Manager role</th>
            </tr>
            @if (Model.Course.Managers.Any())
            {

            foreach (var manager in Model.Course.Managers)
            {
            <tr>
                <td>@manager.Manager.UserName</td>
                <td>@manager.Role</td>
            </tr>
            }
            }
        </table>
    </div>
</div>
